.FullCont{
    background: url('../Images/PandaRed.png');
    background-size: cover;
    background-attachment: fixed;
    min-width: 100%;
    height: 100vh;
  }

.buscar-contenedor {
    margin: 1.5em 4em 1em 4em;
    border-radius: 30px;

}

.tabla-container {
    margin: 1em 4em;
    
}