
.Contenedor-principal{
    background: url('../Images/FondoKoala.png');
     background-size: cover; 
    min-width: 100%; 
    height: 100vh;
}

.Contenedor-buttones{
    background-color: rgba(229 229 229  /82%);
    width: 45%;
    align-content: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    flex-direction: column;
    
}
.contenedor-logoff{
    display: flex;
    align-items: left;
    align-content: left;
    text-align: left;
    width: 45%;
}

.Icono-main{
    width: 200px;
    height: 200px;
}

.Contenedor-icono{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
